<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AFBZBuildNumber</key>
	<string>v5386</string>
	<key>AFBZDocumentId</key>
	<string>BZ97176377EDFB48A0A050</string>
	<key>AFBZLocalSubfoldersPublished</key>
	<array/>
	<key>AFBZMediaArray</key>
	<array>
		<dict>
			<key>UTI</key>
			<string>public.png</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>hahava1.png</string>
			<key>fileSize</key>
			<integer>244532</integer>
			<key>height</key>
			<real>338</real>
			<key>id</key>
			<string>D3067CB1-7C1B-4284-9EA2</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>אהבה ראשונה</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/hahava1.png</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/hahava1.png</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/sdrwt_dwqwmntrywt/Pages/hbh_rswnh.html</string>
			<key>width</key>
			<real>600</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.png</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>hatarhish.png</string>
			<key>fileSize</key>
			<integer>204776</integer>
			<key>height</key>
			<real>309</real>
			<key>id</key>
			<string>14F4E4D7-8838-41D0-99A8</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>התרחיש</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/hatarhish.png</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/hatarhish.png</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/sdrwt_dwqwmntrywt/Pages/htrhys.html</string>
			<key>width</key>
			<real>594</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>0F4BF52F-3B36-4FAC-9F76.jpg</string>
			<key>fileSize</key>
			<integer>141992</integer>
			<key>height</key>
			<real>400</real>
			<key>id</key>
			<string>BA9B23C4-2202-47B7-9483</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>עדים במדים</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/0F4BF52F-3B36-4FAC-9F76.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/0F4BF52F-3B36-4FAC-9F76.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_ltlwyzyh/Pages/dym_bmdym.html</string>
			<key>width</key>
			<real>600</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>wedlock-poster.jpg</string>
			<key>fileSize</key>
			<integer>134890</integer>
			<key>height</key>
			<real>480</real>
			<key>id</key>
			<string>AFB172D1-34DE-4177-8AEE</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>מקודשת</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/wedlock-poster.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/wedlock-poster.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/bymwy/Pages/mqwdst.html</string>
			<key>width</key>
			<real>853</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>EB7B72AD-580B-4CE9-85D0.jpg</string>
			<key>fileSize</key>
			<integer>93133</integer>
			<key>height</key>
			<real>467</real>
			<key>id</key>
			<string>09B6270E-5A15-43B6-A998</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>פעם בחיים</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/EB7B72AD-580B-4CE9-85D0.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/EB7B72AD-580B-4CE9-85D0.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/sdrwt_dwqwmntrywt/Pages/pm_bhyym.html</string>
			<key>width</key>
			<real>700</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>7EB0E490-4C75-47AF-A808.jpg</string>
			<key>fileSize</key>
			<integer>36794</integer>
			<key>height</key>
			<real>369</real>
			<key>id</key>
			<string>480357FC-6CED-49A1-A03C</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>אביב</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/7EB0E490-4C75-47AF-A808.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/7EB0E490-4C75-47AF-A808.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_lqwlnw/Pages/byb_-_ywmn_ms_byb_gpn.html</string>
			<key>width</key>
			<real>480</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>5FABC9D7-43AF-448F-B4D1.jpg</string>
			<key>fileSize</key>
			<integer>75624</integer>
			<key>height</key>
			<real>709</real>
			<key>id</key>
			<string>0D440BAC-F544-44A3-9F3D</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>החברה הכי גרועה בעולם</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/5FABC9D7-43AF-448F-B4D1.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/5FABC9D7-43AF-448F-B4D1.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_lqwlnw/Pages/hhbrh_hky_grwh_bwlm.html</string>
			<key>width</key>
			<real>489</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>cropSettings</key>
			<dict>
				<key>com.aquafadas.bannerzest.Slideshow</key>
				<dict>
					<key>colorValue</key>
					<data>
					BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0Nv
					bG9yAISECE5TT2JqZWN0AIWEAWMEhAJmZgAA
					hg==
					</data>
					<key>cropAspectRatioValue</key>
					<real>1.3333333730697632</real>
					<key>cropModeValue</key>
					<integer>1</integer>
					<key>cropSizeHeight</key>
					<real>1.000001072883606</real>
					<key>cropSizeWidth</key>
					<real>0.7849462628364563</real>
					<key>dateOfLastModifications</key>
					<date>2011-01-27T10:14:26Z</date>
					<key>deltaXValue</key>
					<real>0.15053765475749969</real>
					<key>deltaYValue</key>
					<real>1.6314076756174245e-09</real>
					<key>image-height</key>
					<real>93</real>
					<key>image-width</key>
					<real>141</real>
					<key>path</key>
					<string>/var/folders/4d/4dwR2BSiEginZVxJ4OcLgk+++TI/-Tmp-/BannerZest Pro/com.aquafadas.bannerzest.Slideshow/A852EC49-E680-48D8-A9DB.jpg</string>
					<key>scaleValue</key>
					<real>1</real>
				</dict>
			</dict>
			<key>fileName</key>
			<string>8F16A452-3F88-4A62-A228.jpg</string>
			<key>fileSize</key>
			<integer>71083</integer>
			<key>height</key>
			<real>440</real>
			<key>id</key>
			<string>A852EC49-E680-48D8-A9DB</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>בובות של נייר</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/8F16A452-3F88-4A62-A228.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/8F16A452-3F88-4A62-A228.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_lqwlnw/Pages/bwbwt_sl_nyyr.html</string>
			<key>width</key>
			<real>420</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>zeover.jpg</string>
			<key>fileSize</key>
			<integer>44816</integer>
			<key>height</key>
			<real>369</real>
			<key>id</key>
			<string>2524F37E-1ECD-472E-82E6</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>זה עובר בגנים</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/zeover.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/zeover.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/sdrwt_dwqwmntrywt/Pages/zh_wbr_bgnym.html</string>
			<key>width</key>
			<real>554</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>mehir.jpg</string>
			<key>fileSize</key>
			<integer>35230</integer>
			<key>height</key>
			<real>480</real>
			<key>id</key>
			<string>86A7E111-556F-4A5E-B27B</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>מחיר הגוף</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/mehir.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/mehir.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string></string>
			<key>width</key>
			<real>337</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>71ECBC1B-5F6C-4763-9F55.jpg</string>
			<key>fileSize</key>
			<integer>27823</integer>
			<key>height</key>
			<real>225</real>
			<key>id</key>
			<string>DCFB0B1C-22CE-4670-93FE</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>התחתנתי עם כדורגלן</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/71ECBC1B-5F6C-4763-9F55.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/71ECBC1B-5F6C-4763-9F55.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/sdrwt_dwqwmntrywt/Pages/hthtnty_m_kdwrgln.html</string>
			<key>width</key>
			<real>300</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>493F4088-E9A6-4A03-898F.jpg</string>
			<key>fileSize</key>
			<integer>20930</integer>
			<key>height</key>
			<real>145</real>
			<key>id</key>
			<string>97325DAD-1248-4240-BBE4</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>פיתיון</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/493F4088-E9A6-4A03-898F.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/493F4088-E9A6-4A03-898F.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_lqwlnw/Pages/pytywn_-_srt_qzr.html</string>
			<key>width</key>
			<real>220</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>05F468BD-05DD-4FB0-9ACC.jpg</string>
			<key>fileSize</key>
			<integer>45803</integer>
			<key>height</key>
			<real>324</real>
			<key>id</key>
			<string>25FA1925-E483-40AD-9794</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>שחור על לבן</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/05F468BD-05DD-4FB0-9ACC.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/05F468BD-05DD-4FB0-9ACC.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_ltlwyzyh/Pages/shwr_l_lbn.html</string>
			<key>width</key>
			<real>460</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>C6297711-58DE-4B86-82E6.jpg</string>
			<key>fileSize</key>
			<integer>32770</integer>
			<key>height</key>
			<real>360</real>
			<key>id</key>
			<string>DB0C66B2-0F0E-4E73-BE5E</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>דודו גבע הראיון האחרון</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/C6297711-58DE-4B86-82E6.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/C6297711-58DE-4B86-82E6.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_ltlwyzyh/Pages/dwdw_gb-hrywn_hhrwn.html</string>
			<key>width</key>
			<real>480</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>2FEB0518-555D-4EC0-8B58.jpg</string>
			<key>fileSize</key>
			<integer>28321</integer>
			<key>height</key>
			<real>324</real>
			<key>id</key>
			<string>B0363F14-8F30-4510-BEC4</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>גשר על הואדי</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/2FEB0518-555D-4EC0-8B58.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/2FEB0518-555D-4EC0-8B58.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/sdrwt_dwqwmntrywt/Pages/gsr_l_hwwdy.html</string>
			<key>width</key>
			<real>460</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>FE159E53-9D85-4A3B-8301.jpg</string>
			<key>fileSize</key>
			<integer>27154</integer>
			<key>height</key>
			<real>270</real>
			<key>id</key>
			<string>2567702B-4B6B-465A-A20E</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>ז'טאם איי לאב יו טרמינל</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/FE159E53-9D85-4A3B-8301.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/FE159E53-9D85-4A3B-8301.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_lqwlnw/Pages/ztm_yy_lb_yw_trmynl.html</string>
			<key>width</key>
			<real>187</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>2275F174-3939-4611-B4FB.jpg</string>
			<key>fileSize</key>
			<integer>26505</integer>
			<key>height</key>
			<real>322</real>
			<key>id</key>
			<string>7477BB64-4E13-4337-810C</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>סינדרלות</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/2275F174-3939-4611-B4FB.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/2275F174-3939-4611-B4FB.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/sdrwt_dwqwmntrywt/Pages/syndrlwt.html</string>
			<key>width</key>
			<real>460</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>0983FBA5-9D47-4447-8037.jpg</string>
			<key>fileSize</key>
			<integer>18845</integer>
			<key>height</key>
			<real>177</real>
			<key>id</key>
			<string>18272DC1-78B9-40D7-9B5D</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>אאוט אוף פוקוס</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/0983FBA5-9D47-4447-8037.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/0983FBA5-9D47-4447-8037.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/srtym_ltlwyzyh/Pages/wt_wp_pwqws.html</string>
			<key>width</key>
			<real>284</real>
		</dict>
		<dict>
			<key>UTI</key>
			<string>public.jpeg</string>
			<key>convert-to-png</key>
			<false/>
			<key>fileName</key>
			<string>9034AB26-BFB6-41A0-AD97.jpg</string>
			<key>fileSize</key>
			<integer>20913</integer>
			<key>height</key>
			<real>360</real>
			<key>id</key>
			<string>90900806-C07C-4596-82A5</string>
			<key>isValid</key>
			<true/>
			<key>name</key>
			<string>טיפות טיפות</string>
			<key>originalPath</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/9034AB26-BFB6-41A0-AD97.jpg</string>
			<key>path</key>
			<string>/Users/iraziel/Desktop/site/Banners/main banner.bnz/Save/9034AB26-BFB6-41A0-AD97.jpg</string>
			<key>subtitle</key>
			<string></string>
			<key>url</key>
			<string>http://itairaziel.com/www.itairaziel.com/prwyyqtym_sbyymty/Pages/typwt_typwt.html</string>
			<key>width</key>
			<real>480</real>
		</dict>
	</array>
	<key>AFBZParameters</key>
	<dict>
		<key>com.aquafadas.bannerzest.Slideshow</key>
		<dict>
			<key>Equalizer preset</key>
			<string>Display eq</string>
			<key>Mute Button</key>
			<string>Hide Settings</string>
			<key>Pause Button</key>
			<string>Hide Settings</string>
			<key>Play Button</key>
			<string>Hide Settings</string>
			<key>Sound Box</key>
			<string>item1</string>
			<key>Sound Container</key>
			<string>Hide Settings</string>
			<key>Volume Button</key>
			<string>Hide Settings</string>
			<key>bgAlpha1</key>
			<real>1</real>
			<key>bgAlpha2</key>
			<real>1</real>
			<key>bgColor1</key>
			<string>0x000000</string>
			<key>bgColor2</key>
			<string>0x000000</string>
			<key>blCorner</key>
			<true/>
			<key>borderColor</key>
			<string>0xFDFFEB</string>
			<key>borderPercentRadiusCorner</key>
			<integer>15</integer>
			<key>borderWidth</key>
			<integer>1</integer>
			<key>bottomBgColor</key>
			<string>0x000000</string>
			<key>bounce</key>
			<false/>
			<key>bouncingRange</key>
			<real>50</real>
			<key>brCorner</key>
			<true/>
			<key>containerBorderColor</key>
			<string>0xDDDDDD</string>
			<key>containerBorderWidth</key>
			<real>2</real>
			<key>containerColor1</key>
			<string>0x333333</string>
			<key>containerColor2</key>
			<string>0x222222</string>
			<key>debugLoadingScreen</key>
			<true/>
			<key>displayEqualizer</key>
			<true/>
			<key>displaySoundContainer</key>
			<true/>
			<key>equalizerAlpha</key>
			<real>1</real>
			<key>equalizerColor</key>
			<string>0xFFFFFF</string>
			<key>gapBetweenImages</key>
			<integer>9</integer>
			<key>gradientDegreeAngle</key>
			<real>90</real>
			<key>gradientType</key>
			<string>linear</string>
			<key>imageSpeed</key>
			<integer>1</integer>
			<key>loop</key>
			<true/>
			<key>lsBarAlpha</key>
			<real>1</real>
			<key>lsBarAlpha_pie</key>
			<real>1</real>
			<key>lsBarAlpha_wheel</key>
			<real>1</real>
			<key>lsBarColor</key>
			<string>0xE50000</string>
			<key>lsBarColor_pie</key>
			<string>0x7E7E7E</string>
			<key>lsBarColor_wheel</key>
			<string>0x7F7F7F</string>
			<key>lsBarHeight</key>
			<integer>10</integer>
			<key>lsBarHeight_wheel</key>
			<integer>3</integer>
			<key>lsBarWidth</key>
			<integer>100</integer>
			<key>lsBarWidth_wheel</key>
			<integer>10</integer>
			<key>lsBorderColor</key>
			<string>0x000000</string>
			<key>lsBorderColor_pie</key>
			<string>0x626262</string>
			<key>lsBorderColor_wheel</key>
			<string>0x000000</string>
			<key>lsBorderWidth</key>
			<integer>1</integer>
			<key>lsBorderWidth_pie</key>
			<integer>5</integer>
			<key>lsBorderWidth_wheel</key>
			<integer>0</integer>
			<key>lsFillAlpha</key>
			<real>1</real>
			<key>lsFillAlpha_pie</key>
			<real>0.30000001192092896</real>
			<key>lsFillColor</key>
			<string>0xFF2600</string>
			<key>lsFillColor_pie</key>
			<string>0x000000</string>
			<key>lsInnerRadius_wheel</key>
			<integer>6</integer>
			<key>lsLabelColor</key>
			<string>0x000000</string>
			<key>lsLabelColor_pie</key>
			<string>0x000000</string>
			<key>lsLabelColor_wheel</key>
			<string>0x000000</string>
			<key>lsLabelFont</key>
			<string>Arial</string>
			<key>lsLabelFont_pie</key>
			<string>Arial</string>
			<key>lsLabelFont_wheel</key>
			<string>Arial</string>
			<key>lsLabelGlowColor</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowColor_pie</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowColor_wheel</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowStrength</key>
			<integer>3</integer>
			<key>lsLabelGlowStrength_pie</key>
			<integer>1</integer>
			<key>lsLabelGlowStrength_wheel</key>
			<integer>3</integer>
			<key>lsLabelSize</key>
			<integer>16</integer>
			<key>lsLabelSize_pie</key>
			<integer>16</integer>
			<key>lsLabelSize_wheel</key>
			<integer>16</integer>
			<key>lsLabelText</key>
			<string>Loading...</string>
			<key>lsLabelText_pie</key>
			<string>Loading...</string>
			<key>lsLabelText_wheel</key>
			<string>Loading...</string>
			<key>lsNumBarsDisplayed_wheel</key>
			<integer>12</integer>
			<key>lsNumBars_wheel</key>
			<integer>12</integer>
			<key>lsPercentRoundedCorner</key>
			<integer>50</integer>
			<key>lsPercentRoundedCorner_wheel</key>
			<integer>50</integer>
			<key>lsPieRadius_pie</key>
			<integer>22</integer>
			<key>lsShowImage</key>
			<true/>
			<key>lsShowText</key>
			<true/>
			<key>lsShowText_pie</key>
			<true/>
			<key>lsShowText_wheel</key>
			<false/>
			<key>lsSquareAlpha_wheel</key>
			<real>0.10000000149011612</real>
			<key>lsSquareColor_wheel</key>
			<string>0xFFFFFF</string>
			<key>lsType</key>
			<string>bar</string>
			<key>maxAlpha</key>
			<real>0.5</real>
			<key>mediaDateAlign</key>
			<string>center</string>
			<key>mediaDateColor</key>
			<string>0xFFFFFF</string>
			<key>mediaDateFont</key>
			<string>Arial</string>
			<key>mediaDateSize</key>
			<real>16</real>
			<key>mediaDateVisible</key>
			<false/>
			<key>mediaHeight</key>
			<integer>93</integer>
			<key>mediaTitleAlign</key>
			<string>center</string>
			<key>mediaTitleColor</key>
			<string>0xB3B3B3</string>
			<key>mediaTitleFont</key>
			<string>Arial</string>
			<key>mediaTitleSize</key>
			<integer>12</integer>
			<key>mediaTitleVisible</key>
			<true/>
			<key>mediaWidth</key>
			<integer>141</integer>
			<key>muteButtonBorderColor</key>
			<string>0x000000</string>
			<key>muteButtonBorderWidth</key>
			<real>0.0</real>
			<key>muteButtonColor</key>
			<string>0xFFFFFF</string>
			<key>muteButtonContainerColor</key>
			<string>0x777777</string>
			<key>new preset</key>
			<string>item1</string>
			<key>notLoadedMediaAlpha</key>
			<real>1</real>
			<key>notLoadedMediaColor</key>
			<string>0x333333</string>
			<key>pauseButtonBorderColor</key>
			<string>0x000000</string>
			<key>pauseButtonBorderWidth</key>
			<real>0.0</real>
			<key>pauseButtonColor</key>
			<string>0xFFFFFF</string>
			<key>pauseButtonContainerColor</key>
			<string>0x777777</string>
			<key>permanentSoundContainer</key>
			<true/>
			<key>playButtonBorderColor</key>
			<string>0x000000</string>
			<key>playButtonBorderWidth</key>
			<real>0.0</real>
			<key>playButtonColor</key>
			<string>0xFFFFFF</string>
			<key>playButtonContainerColor</key>
			<string>0x777777</string>
			<key>preload</key>
			<real>0.0</real>
			<key>preset</key>
			<string>bar</string>
			<key>randomBounce</key>
			<true/>
			<key>randomizeMediaArray</key>
			<false/>
			<key>separatedSoundContainter</key>
			<true/>
			<key>sound preset</key>
			<string>item3</string>
			<key>soundAlpha1</key>
			<real>1</real>
			<key>soundAlpha2</key>
			<real>1</real>
			<key>soundAlphaMuteButton1</key>
			<real>1</real>
			<key>soundAlphaMuteButton2</key>
			<real>1</real>
			<key>soundAlphaPause1</key>
			<real>1</real>
			<key>soundAlphaPause2</key>
			<real>1</real>
			<key>soundAlphaPlay1</key>
			<real>1</real>
			<key>soundAlphaPlay2</key>
			<real>1</real>
			<key>soundAlphaVolumeBack</key>
			<real>1</real>
			<key>soundAlphaVolumeFront</key>
			<real>1</real>
			<key>soundContainerBorderPercentCornerRadius</key>
			<real>50</real>
			<key>soundContainerMargin</key>
			<real>5</real>
			<key>soundPosition</key>
			<string>Bottom</string>
			<key>soundSize</key>
			<real>1</real>
			<key>spriteY</key>
			<integer>94</integer>
			<key>startSoundAuto</key>
			<false/>
			<key>textOnRolloverOnly</key>
			<true/>
			<key>themeBorderColor</key>
			<string>0x000000</string>
			<key>themeBorderPercentCornerRadius</key>
			<real>0.0</real>
			<key>themeBorderWidth</key>
			<real>0.0</real>
			<key>themeFrameRate</key>
			<real>48</real>
			<key>themeHeight</key>
			<real>196</real>
			<key>themeWidth</key>
			<real>1000</real>
			<key>tlCorner</key>
			<true/>
			<key>topGradientOffset</key>
			<integer>0</integer>
			<key>trCorner</key>
			<true/>
			<key>userNumImagesToLoadBeforeStarting</key>
			<real>0.0</real>
			<key>volumeBackColor</key>
			<string>0x000000</string>
			<key>volumeFrontColor</key>
			<string>0xFFFFFF</string>
			<key>waitForAllImagesToBeStarted</key>
			<true/>
			<key>waitForSound</key>
			<false/>
		</dict>
		<key>com.aquafadas.bannerzest.WaterApparition</key>
		<dict>
			<key>Equalizer preset</key>
			<string>Display eq</string>
			<key>Mute Button</key>
			<string>Hide Settings</string>
			<key>Pause Button</key>
			<string>Hide Settings</string>
			<key>Play Button</key>
			<string>Hide Settings</string>
			<key>Sound Box</key>
			<string>item1</string>
			<key>Sound Container</key>
			<string>Hide Settings</string>
			<key>Volume Button</key>
			<string>Hide Settings</string>
			<key>bottom-gradient-alpha1</key>
			<real>1</real>
			<key>bottom-gradient-alpha2</key>
			<real>1</real>
			<key>bottom-gradient-angle</key>
			<real>90</real>
			<key>bottom-gradient-color1</key>
			<string>0x104564</string>
			<key>bottom-gradient-color2</key>
			<string>0x00243A</string>
			<key>bottom-gradient-type</key>
			<string>linear</string>
			<key>containerBorderColor</key>
			<string>0xDDDDDD</string>
			<key>containerBorderWidth</key>
			<real>2</real>
			<key>containerColor1</key>
			<string>0x333333</string>
			<key>containerColor2</key>
			<string>0x222222</string>
			<key>debugLoadingScreen</key>
			<false/>
			<key>displayEqualizer</key>
			<true/>
			<key>displaySoundContainer</key>
			<true/>
			<key>equalizerAlpha</key>
			<real>1</real>
			<key>equalizerColor</key>
			<string>0xFFFFFF</string>
			<key>imageScaleMode</key>
			<string>rectangle</string>
			<key>loop</key>
			<true/>
			<key>lsBarAlpha</key>
			<real>1</real>
			<key>lsBarAlpha_pie</key>
			<real>1</real>
			<key>lsBarAlpha_wheel</key>
			<real>1</real>
			<key>lsBarColor</key>
			<string>0xDF0000</string>
			<key>lsBarColor_pie</key>
			<string>0x7E7E7E</string>
			<key>lsBarColor_wheel</key>
			<string>0x7F7F7F</string>
			<key>lsBarHeight</key>
			<integer>10</integer>
			<key>lsBarHeight_wheel</key>
			<integer>3</integer>
			<key>lsBarWidth</key>
			<integer>100</integer>
			<key>lsBarWidth_wheel</key>
			<integer>10</integer>
			<key>lsBorderColor</key>
			<string>0x000000</string>
			<key>lsBorderColor_pie</key>
			<string>0x626262</string>
			<key>lsBorderColor_wheel</key>
			<string>0x000000</string>
			<key>lsBorderWidth</key>
			<integer>1</integer>
			<key>lsBorderWidth_pie</key>
			<integer>5</integer>
			<key>lsBorderWidth_wheel</key>
			<integer>0</integer>
			<key>lsFillAlpha</key>
			<real>1</real>
			<key>lsFillAlpha_pie</key>
			<real>0.30000001192092896</real>
			<key>lsFillColor</key>
			<string>0xFF5100</string>
			<key>lsFillColor_pie</key>
			<string>0x000000</string>
			<key>lsInnerRadius_wheel</key>
			<integer>6</integer>
			<key>lsLabelColor</key>
			<string>0x000000</string>
			<key>lsLabelColor_pie</key>
			<string>0x000000</string>
			<key>lsLabelColor_wheel</key>
			<string>0x000000</string>
			<key>lsLabelFont</key>
			<string>Arial</string>
			<key>lsLabelFont_pie</key>
			<string>Arial</string>
			<key>lsLabelFont_wheel</key>
			<string>Arial</string>
			<key>lsLabelGlowColor</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowColor_pie</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowColor_wheel</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowStrength</key>
			<integer>3</integer>
			<key>lsLabelGlowStrength_pie</key>
			<integer>1</integer>
			<key>lsLabelGlowStrength_wheel</key>
			<integer>3</integer>
			<key>lsLabelSize</key>
			<integer>16</integer>
			<key>lsLabelSize_pie</key>
			<integer>16</integer>
			<key>lsLabelSize_wheel</key>
			<integer>16</integer>
			<key>lsLabelText</key>
			<string>Loading...</string>
			<key>lsLabelText_pie</key>
			<string>Loading...</string>
			<key>lsLabelText_wheel</key>
			<string>Loading...</string>
			<key>lsNumBarsDisplayed_wheel</key>
			<integer>12</integer>
			<key>lsNumBars_wheel</key>
			<integer>12</integer>
			<key>lsPercentRoundedCorner</key>
			<integer>50</integer>
			<key>lsPercentRoundedCorner_wheel</key>
			<integer>50</integer>
			<key>lsPieRadius_pie</key>
			<integer>22</integer>
			<key>lsShowImage</key>
			<true/>
			<key>lsShowText</key>
			<true/>
			<key>lsShowText_pie</key>
			<true/>
			<key>lsShowText_wheel</key>
			<false/>
			<key>lsSquareAlpha_wheel</key>
			<real>0.10000000149011612</real>
			<key>lsSquareColor_wheel</key>
			<string>0xFFFFFF</string>
			<key>lsType</key>
			<string>wheel</string>
			<key>mediaDateAlign</key>
			<string>left</string>
			<key>mediaDateColor</key>
			<string>0xFFFFFF</string>
			<key>mediaDateFont</key>
			<string>Arial</string>
			<key>mediaDateSize</key>
			<integer>16</integer>
			<key>mediaDateVisible</key>
			<true/>
			<key>mediaPercentRadius</key>
			<real>10</real>
			<key>mediaTitleAlign</key>
			<string>left</string>
			<key>mediaTitleColor</key>
			<string>0xFFFFFF</string>
			<key>mediaTitleFont</key>
			<string>Arial</string>
			<key>mediaTitleSize</key>
			<integer>20</integer>
			<key>mediaTitleVisible</key>
			<true/>
			<key>muteButtonBorderColor</key>
			<string>0x000000</string>
			<key>muteButtonBorderWidth</key>
			<real>0.0</real>
			<key>muteButtonColor</key>
			<string>0xFFFFFF</string>
			<key>muteButtonContainerColor</key>
			<string>0x777777</string>
			<key>pauseButtonBorderColor</key>
			<string>0x000000</string>
			<key>pauseButtonBorderWidth</key>
			<real>0.0</real>
			<key>pauseButtonColor</key>
			<string>0xFFFFFF</string>
			<key>pauseButtonContainerColor</key>
			<string>0x777777</string>
			<key>permanentSoundContainer</key>
			<true/>
			<key>playButtonBorderColor</key>
			<string>0x000000</string>
			<key>playButtonBorderWidth</key>
			<real>0.0</real>
			<key>playButtonColor</key>
			<string>0xFFFFFF</string>
			<key>playButtonContainerColor</key>
			<string>0x777777</string>
			<key>preload</key>
			<real>0.0</real>
			<key>preset</key>
			<string>lightwheel</string>
			<key>randomizeMediaArray</key>
			<false/>
			<key>separatedSoundContainter</key>
			<true/>
			<key>showWaterDrops</key>
			<true/>
			<key>sound preset</key>
			<string>item3</string>
			<key>soundAlpha1</key>
			<real>1</real>
			<key>soundAlpha2</key>
			<real>1</real>
			<key>soundAlphaMuteButton1</key>
			<real>1</real>
			<key>soundAlphaMuteButton2</key>
			<real>1</real>
			<key>soundAlphaPause1</key>
			<real>1</real>
			<key>soundAlphaPause2</key>
			<real>1</real>
			<key>soundAlphaPlay1</key>
			<real>1</real>
			<key>soundAlphaPlay2</key>
			<real>1</real>
			<key>soundAlphaVolumeBack</key>
			<real>1</real>
			<key>soundAlphaVolumeFront</key>
			<real>1</real>
			<key>soundContainerBorderPercentCornerRadius</key>
			<real>50</real>
			<key>soundContainerMargin</key>
			<real>5</real>
			<key>soundPosition</key>
			<string>Bottom</string>
			<key>soundSize</key>
			<real>1</real>
			<key>startSoundAuto</key>
			<false/>
			<key>stopOnLastImage</key>
			<false/>
			<key>stopOnLastImageMaxCount</key>
			<real>1</real>
			<key>themeBorderColor</key>
			<string>0x333333</string>
			<key>themeBorderPercentCornerRadius</key>
			<integer>0</integer>
			<key>themeBorderWidth</key>
			<integer>0</integer>
			<key>themeFrameRate</key>
			<real>24</real>
			<key>themeHeight</key>
			<integer>400</integer>
			<key>themeTitleColor</key>
			<string>0xFFFFFF</string>
			<key>themeTitleFont</key>
			<string>Arial</string>
			<key>themeTitleSize</key>
			<integer>50</integer>
			<key>themeTitleText</key>
			<string>Theme Title</string>
			<key>themeTitleVisible</key>
			<true/>
			<key>themeWidth</key>
			<integer>900</integer>
			<key>top-gradient-alpha1</key>
			<real>1</real>
			<key>top-gradient-alpha2</key>
			<real>1</real>
			<key>top-gradient-angle</key>
			<real>90</real>
			<key>top-gradient-color1</key>
			<string>0x000813</string>
			<key>top-gradient-color2</key>
			<string>0x0B2E45</string>
			<key>top-gradient-type</key>
			<string>linear</string>
			<key>volumeBackColor</key>
			<string>0x000000</string>
			<key>volumeFrontColor</key>
			<string>0xFFFFFF</string>
			<key>waitForSound</key>
			<false/>
		</dict>
		<key>com.yourcompany.bannerzest.Hanging3D</key>
		<dict>
			<key>Equalizer preset</key>
			<string>Display eq</string>
			<key>Mute Button</key>
			<string>Hide Settings</string>
			<key>Pause Button</key>
			<string>Hide Settings</string>
			<key>Play Button</key>
			<string>Hide Settings</string>
			<key>Sound Box</key>
			<string>item1</string>
			<key>Sound Container</key>
			<string>Hide Settings</string>
			<key>Volume Button</key>
			<string>Hide Settings</string>
			<key>autoChangeSelection</key>
			<false/>
			<key>bottomBackground-alpha1</key>
			<real>1</real>
			<key>bottomBackground-alpha2</key>
			<real>1</real>
			<key>bottomBackground-angle</key>
			<real>90</real>
			<key>bottomBackground-color1</key>
			<string>0xFEFFFE</string>
			<key>bottomBackground-color2</key>
			<string>0xFEFFFE</string>
			<key>bottomBackground-type</key>
			<string>linear</string>
			<key>containerBorderColor</key>
			<string>0xDDDDDD</string>
			<key>containerBorderWidth</key>
			<real>2</real>
			<key>containerColor1</key>
			<string>0x262626</string>
			<key>containerColor2</key>
			<string>0x191919</string>
			<key>curvature</key>
			<real>0.5</real>
			<key>dateXRatio</key>
			<real>0.75</real>
			<key>dateYRatio</key>
			<real>0.59999999999999998</real>
			<key>debugLoadingScreen</key>
			<false/>
			<key>displayEqualizer</key>
			<true/>
			<key>displayReflection</key>
			<true/>
			<key>displaySoundContainer</key>
			<true/>
			<key>doFinalAnimation</key>
			<true/>
			<key>enableLightEffect</key>
			<true/>
			<key>equalizerAlpha</key>
			<real>1</real>
			<key>equalizerColor</key>
			<string>0xFEFFFE</string>
			<key>farPlaneZ</key>
			<real>1000</real>
			<key>globalShadow</key>
			<true/>
			<key>globalShadowColor</key>
			<string>0xFFFFFF</string>
			<key>globalShadowMax</key>
			<real>1</real>
			<key>globalShadowWidth</key>
			<real>100</real>
			<key>groundYRatio</key>
			<real>0.5</real>
			<key>inertiaAngle</key>
			<real>-10</real>
			<key>loop</key>
			<true/>
			<key>lsBarAlpha</key>
			<real>1</real>
			<key>lsBarAlpha_pie</key>
			<real>1</real>
			<key>lsBarAlpha_wheel</key>
			<real>1</real>
			<key>lsBarColor</key>
			<string>0xFF0000</string>
			<key>lsBarColor_pie</key>
			<string>0x6A6A6A</string>
			<key>lsBarColor_wheel</key>
			<string>0x262626</string>
			<key>lsBarHeight</key>
			<integer>10</integer>
			<key>lsBarHeight_wheel</key>
			<integer>3</integer>
			<key>lsBarWidth</key>
			<integer>100</integer>
			<key>lsBarWidth_wheel</key>
			<integer>10</integer>
			<key>lsBorderColor</key>
			<string>0x000000</string>
			<key>lsBorderColor_pie</key>
			<string>0x626262</string>
			<key>lsBorderColor_wheel</key>
			<string>0x000000</string>
			<key>lsBorderWidth</key>
			<integer>1</integer>
			<key>lsBorderWidth_pie</key>
			<integer>5</integer>
			<key>lsBorderWidth_wheel</key>
			<integer>0</integer>
			<key>lsFillAlpha</key>
			<real>1</real>
			<key>lsFillAlpha_pie</key>
			<real>0.30000001192092896</real>
			<key>lsFillColor</key>
			<string>0xFF0000</string>
			<key>lsFillColor_pie</key>
			<string>0x000000</string>
			<key>lsInnerRadius_wheel</key>
			<integer>6</integer>
			<key>lsLabelColor</key>
			<string>0x000000</string>
			<key>lsLabelColor_pie</key>
			<string>0x000000</string>
			<key>lsLabelColor_wheel</key>
			<string>0x000000</string>
			<key>lsLabelFont</key>
			<string>Arial</string>
			<key>lsLabelFont_pie</key>
			<string>Arial</string>
			<key>lsLabelFont_wheel</key>
			<string>Arial</string>
			<key>lsLabelGlowColor</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowColor_pie</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowColor_wheel</key>
			<string>0xFFFFFF</string>
			<key>lsLabelGlowStrength</key>
			<integer>3</integer>
			<key>lsLabelGlowStrength_pie</key>
			<integer>1</integer>
			<key>lsLabelGlowStrength_wheel</key>
			<integer>3</integer>
			<key>lsLabelSize</key>
			<integer>16</integer>
			<key>lsLabelSize_pie</key>
			<integer>16</integer>
			<key>lsLabelSize_wheel</key>
			<integer>16</integer>
			<key>lsLabelText</key>
			<string>Loading...</string>
			<key>lsLabelText_pie</key>
			<string>Loading...</string>
			<key>lsLabelText_wheel</key>
			<string>Loading...</string>
			<key>lsNumBarsDisplayed_wheel</key>
			<integer>12</integer>
			<key>lsNumBars_wheel</key>
			<integer>12</integer>
			<key>lsPercentRoundedCorner</key>
			<integer>50</integer>
			<key>lsPercentRoundedCorner_wheel</key>
			<integer>50</integer>
			<key>lsPieRadius_pie</key>
			<integer>22</integer>
			<key>lsShowImage</key>
			<true/>
			<key>lsShowText</key>
			<true/>
			<key>lsShowText_pie</key>
			<true/>
			<key>lsShowText_wheel</key>
			<false/>
			<key>lsSquareAlpha_wheel</key>
			<real>0.10000000149011612</real>
			<key>lsSquareColor_wheel</key>
			<string>0x000000</string>
			<key>lsType</key>
			<string>wheel</string>
			<key>mediaDateColor</key>
			<string>0x444444</string>
			<key>mediaDateFont</key>
			<string>Arial</string>
			<key>mediaDateSize</key>
			<integer>16</integer>
			<key>mediaDateVisible</key>
			<true/>
			<key>mediaHeight</key>
			<real>300</real>
			<key>mediaTitleColor</key>
			<string>0x444444</string>
			<key>mediaTitleFont</key>
			<string>Arial</string>
			<key>mediaTitleSize</key>
			<integer>20</integer>
			<key>mediaTitleVisible</key>
			<true/>
			<key>mediaWidth</key>
			<real>300</real>
			<key>muteButtonBorderColor</key>
			<string>0x000000</string>
			<key>muteButtonBorderWidth</key>
			<real>0.0</real>
			<key>muteButtonColor</key>
			<string>0xFEFFFE</string>
			<key>muteButtonContainerColor</key>
			<string>0x636363</string>
			<key>new preset</key>
			<string>item1</string>
			<key>new preset ls</key>
			<string>item1</string>
			<key>new preset reflection</key>
			<string>item1</string>
			<key>new preset text bg</key>
			<string>On</string>
			<key>pauseButtonBorderColor</key>
			<string>0x000000</string>
			<key>pauseButtonBorderWidth</key>
			<real>0.0</real>
			<key>pauseButtonColor</key>
			<string>0xFEFFFE</string>
			<key>pauseButtonContainerColor</key>
			<string>0x636363</string>
			<key>pauseDuration</key>
			<real>2</real>
			<key>permanentSoundContainer</key>
			<true/>
			<key>playButtonBorderColor</key>
			<string>0x000000</string>
			<key>playButtonBorderWidth</key>
			<real>0.0</real>
			<key>playButtonColor</key>
			<string>0xFEFFFE</string>
			<key>playButtonContainerColor</key>
			<string>0x636363</string>
			<key>preload</key>
			<real>0.0</real>
			<key>preset</key>
			<string>darkwheel</string>
			<key>randomizeMediaArray</key>
			<false/>
			<key>reflectionAlpha</key>
			<real>0.20000000000000001</real>
			<key>reflectionBlur</key>
			<real>4</real>
			<key>reflectionHeight</key>
			<real>10</real>
			<key>root-alpha1</key>
			<real>1</real>
			<key>root-alpha2</key>
			<real>1</real>
			<key>root-angle</key>
			<real>90</real>
			<key>root-color1</key>
			<string>0xECECEC</string>
			<key>root-color2</key>
			<string>0xF2F2F2</string>
			<key>root-type</key>
			<string>linear</string>
			<key>separatedSoundContainter</key>
			<true/>
			<key>sound preset</key>
			<string>item3</string>
			<key>soundAlpha1</key>
			<real>1</real>
			<key>soundAlpha2</key>
			<real>1</real>
			<key>soundAlphaMuteButton1</key>
			<real>1</real>
			<key>soundAlphaMuteButton2</key>
			<real>1</real>
			<key>soundAlphaPause1</key>
			<real>1</real>
			<key>soundAlphaPause2</key>
			<real>1</real>
			<key>soundAlphaPlay1</key>
			<real>1</real>
			<key>soundAlphaPlay2</key>
			<real>1</real>
			<key>soundAlphaVolumeBack</key>
			<real>1</real>
			<key>soundAlphaVolumeFront</key>
			<real>1</real>
			<key>soundContainerBorderPercentCornerRadius</key>
			<real>50</real>
			<key>soundContainerMargin</key>
			<real>5</real>
			<key>soundPosition</key>
			<string>Bottom</string>
			<key>soundSize</key>
			<real>1</real>
			<key>startSoundAuto</key>
			<false/>
			<key>swingAngleIn</key>
			<real>30</real>
			<key>swingAngleOut</key>
			<real>-20</real>
			<key>textBackground</key>
			<true/>
			<key>textBackgroundAlpha</key>
			<real>0.5</real>
			<key>textBackgroundBlur</key>
			<real>5.6451612710952759</real>
			<key>textBackgroundBorderWidth</key>
			<real>0.0</real>
			<key>textBackgroundColor</key>
			<string>0xFEFFFE</string>
			<key>textBackgroundMargin</key>
			<real>2</real>
			<key>textInDuration</key>
			<real>2</real>
			<key>textInEasingPrefix</key>
			<string>easein</string>
			<key>textInEasingSuffix</key>
			<string>expo</string>
			<key>textOutEasingPrefix</key>
			<string>easeout</string>
			<key>textOutEasingSuffix</key>
			<string>expo</string>
			<key>textShapeInDelay</key>
			<real>0.10000000000000001</real>
			<key>textShapeOutDelay</key>
			<real>0.10000000000000001</real>
			<key>themeBorderColor</key>
			<string>0x333333</string>
			<key>themeBorderPercentCornerRadius</key>
			<integer>0</integer>
			<key>themeBorderWidth</key>
			<integer>0</integer>
			<key>themeFrameRate</key>
			<real>24</real>
			<key>themeHeight</key>
			<real>400</real>
			<key>themeWidth</key>
			<real>800</real>
			<key>titleXRatio</key>
			<real>0.5</real>
			<key>titleYRatio</key>
			<real>0.16</real>
			<key>userNumImagesOnEachSide</key>
			<real>2</real>
			<key>userNumImagesToLoadBeforeStarting</key>
			<real>0.0</real>
			<key>volumeBackColor</key>
			<string>0x000000</string>
			<key>volumeFrontColor</key>
			<string>0xFEFFFE</string>
			<key>waitForSound</key>
			<false/>
		</dict>
	</dict>
	<key>AFBZPublishLocalFolder</key>
	<string>/Users/iraziel/Desktop/untitled folder/site</string>
	<key>AFBZPublishServer</key>
	<dict>
		<key>id</key>
		<string>5220E96F-BFA5-4507-97E8</string>
		<key>subfolder</key>
		<string>/www.itairaziel.com</string>
	</dict>
	<key>AFBZPublishSettings</key>
	<dict>
		<key>AFBZPublishAlternativeContent</key>
		<true/>
		<key>AFBZPublishForceImageFormat</key>
		<false/>
		<key>AFBZPublishFormat</key>
		<integer>0</integer>
		<key>AFBZPublishLocation</key>
		<integer>0</integer>
		<key>AFBZPublishMediaViewer</key>
		<integer>0</integer>
		<key>AFBZPublishMediaViewerResolution</key>
		<integer>800</integer>
		<key>AFBZPublishQuality</key>
		<real>0.69999998807907104</real>
		<key>AFBZPublishSingleSwfFile</key>
		<false/>
		<key>AFBZPublishTargetURL</key>
		<integer>0</integer>
	</dict>
	<key>AFBZServersSubfoldersPublished</key>
	<dict>
		<key>5220E96F-BFA5-4507-97E8</key>
		<array>
			<dict>
				<key>AFBZHtmlCodePublished</key>
				<data>
				PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiIHNy
				Yz0iaHR0cDovL3d3dy5pdGFpcmF6aWVsLmNvbS93d3cu
				aXRhaXJhemllbC5jb20vYnpMb2FkZXIuanMiPjwvc2Ny
				aXB0Pjxub3NjcmlwdD48cCBzdHlsZT0iYmFja2dyb3Vu
				ZC1jb2xvcjojZmZmZmZmO2NvbG9yOiMwMDAwMDA7cGFk
				ZGluZzoxZW07Ij5Zb3VyIGJyb3dzZXIgZG9lc24ndCBz
				dXBwb3J0IEphdmFTY3JpcHQgb3IgeW91IGhhdmUgZGlz
				YWJsZWQgSmF2YVNjcmlwdC48L3A+PC9ub3NjcmlwdD48
				ZGl2IGlkPSJTV0JaOTcxNzYzNzdFREZCNDhBMEEwNTAi
				PjwvZGl2PjxkaXYgaWQ9IkxLQlo5NzE3NjM3N0VERkI0
				OEEwQTA1MCI+PC9kaXY+
				</data>
				<key>AFBZHtmlWithoutJsCodePublished</key>
				<data>
				PG9iamVjdCB0eXBlPSJhcHBsaWNhdGlvbi94LXNob2Nr
				d2F2ZS1mbGFzaCIgd2lkdGg9IjEwMDAiIGhlaWdodD0i
				MjEzIiBpZD0iQlo5NzE3NjM3N0VERkI0OEEwQTA1MCIg
				ZGF0YT0iaHR0cDovL3d3dy5pdGFpcmF6aWVsLmNvbS93
				d3cuaXRhaXJhemllbC5jb20vYnpBbmltYXRpb24uc3dm
				P3N3ZklkPUJaOTcxNzYzNzdFREZCNDhBMEEwNTAmeG1s
				UGF0aD1odHRwOi8vd3d3Lml0YWlyYXppZWwuY29tL3d3
				dy5pdGFpcmF6aWVsLmNvbS9iei54bWwmaW1nUGF0aD1o
				dHRwOi8vd3d3Lml0YWlyYXppZWwuY29tL3d3dy5pdGFp
				cmF6aWVsLmNvbS9pbWcmc291bmRQYXRoPWZhbHNlJnVy
				bFR5cGU9X3RvcCZzaG93SW5mbz0xJnRoZW1lTW9kZT0y
				Ij48cGFyYW0gbmFtZT0ibW92aWUiIHZhbHVlPSJodHRw
				Oi8vd3d3Lml0YWlyYXppZWwuY29tL3d3dy5pdGFpcmF6
				aWVsLmNvbS9iekFuaW1hdGlvbi5zd2Y/c3dmSWQ9Qlo5
				NzE3NjM3N0VERkI0OEEwQTA1MCZ4bWxQYXRoPWh0dHA6
				Ly93d3cuaXRhaXJhemllbC5jb20vd3d3Lml0YWlyYXpp
				ZWwuY29tL2J6LnhtbCZpbWdQYXRoPWh0dHA6Ly93d3cu
				aXRhaXJhemllbC5jb20vd3d3Lml0YWlyYXppZWwuY29t
				L2ltZyZzb3VuZFBhdGg9ZmFsc2UmdXJsVHlwZT1fdG9w
				JnNob3dJbmZvPTEmdGhlbWVNb2RlPTIiIC8+PHBhcmFt
				IG5hbWU9ImFsbG93U2NyaXB0QWNjZXNzIiB2YWx1ZT0i
				YWx3YXlzIj48L3BhcmFtPjxwYXJhbSBuYW1lPSJ3bW9k
				ZSIgdmFsdWU9InRyYW5zcGFyZW50Ij48L3BhcmFtPjwv
				b2JqZWN0Pg==
				</data>
				<key>banner-url</key>
				<string>http://www.itairaziel.com/www.itairaziel.com</string>
				<key>subfolder-path</key>
				<string>/www.itairaziel.com</string>
				<key>subfolder-published-date</key>
				<date>2011-01-27T10:32:41Z</date>
			</dict>
			<dict>
				<key>AFBZHtmlCodePublished</key>
				<data>
				PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiIHNy
				Yz0iaHR0cDovL3d3dy5pdGFpcmF6aWVsLmNvbS93d3cu
				aXRhaXJhemllbC5jb20vYnpMb2FkZXIuanMiPjwvc2Ny
				aXB0Pjxub3NjcmlwdD48cCBzdHlsZT0iYmFja2dyb3Vu
				ZC1jb2xvcjojZmZmZmZmO2NvbG9yOiMwMDAwMDA7cGFk
				ZGluZzoxZW07Ij5Zb3VyIGJyb3dzZXIgZG9lc24ndCBz
				dXBwb3J0IEphdmFTY3JpcHQgb3IgeW91IGhhdmUgZGlz
				YWJsZWQgSmF2YVNjcmlwdC48L3A+PC9ub3NjcmlwdD48
				ZGl2IGlkPSJTV0JaOTcxNzYzNzdFREZCNDhBMEEwNTAi
				PjwvZGl2PjxkaXYgaWQ9IkxLQlo5NzE3NjM3N0VERkI0
				OEEwQTA1MCI+PC9kaXY+
				</data>
				<key>AFBZHtmlWithoutJsCodePublished</key>
				<data>
				PG9iamVjdCB0eXBlPSJhcHBsaWNhdGlvbi94LXNob2Nr
				d2F2ZS1mbGFzaCIgd2lkdGg9IjEwMDAiIGhlaWdodD0i
				MTk2IiBpZD0iQlo5NzE3NjM3N0VERkI0OEEwQTA1MCIg
				ZGF0YT0iaHR0cDovL3d3dy5pdGFpcmF6aWVsLmNvbS93
				d3cuaXRhaXJhemllbC5jb20vYnpBbmltYXRpb24uc3dm
				P3N3ZklkPUJaOTcxNzYzNzdFREZCNDhBMEEwNTAmeG1s
				UGF0aD1odHRwOi8vd3d3Lml0YWlyYXppZWwuY29tL3d3
				dy5pdGFpcmF6aWVsLmNvbS9iei54bWwmaW1nUGF0aD1o
				dHRwOi8vd3d3Lml0YWlyYXppZWwuY29tL3d3dy5pdGFp
				cmF6aWVsLmNvbS9pbWcmc291bmRQYXRoPWZhbHNlJnVy
				bFR5cGU9X3RvcCZzaG93SW5mbz0xJnRoZW1lTW9kZT0y
				Ij48cGFyYW0gbmFtZT0ibW92aWUiIHZhbHVlPSJodHRw
				Oi8vd3d3Lml0YWlyYXppZWwuY29tL3d3dy5pdGFpcmF6
				aWVsLmNvbS9iekFuaW1hdGlvbi5zd2Y/c3dmSWQ9Qlo5
				NzE3NjM3N0VERkI0OEEwQTA1MCZ4bWxQYXRoPWh0dHA6
				Ly93d3cuaXRhaXJhemllbC5jb20vd3d3Lml0YWlyYXpp
				ZWwuY29tL2J6LnhtbCZpbWdQYXRoPWh0dHA6Ly93d3cu
				aXRhaXJhemllbC5jb20vd3d3Lml0YWlyYXppZWwuY29t
				L2ltZyZzb3VuZFBhdGg9ZmFsc2UmdXJsVHlwZT1fdG9w
				JnNob3dJbmZvPTEmdGhlbWVNb2RlPTIiIC8+PHBhcmFt
				IG5hbWU9ImFsbG93U2NyaXB0QWNjZXNzIiB2YWx1ZT0i
				YWx3YXlzIj48L3BhcmFtPjxwYXJhbSBuYW1lPSJ3bW9k
				ZSIgdmFsdWU9InRyYW5zcGFyZW50Ij48L3BhcmFtPjwv
				b2JqZWN0Pg==
				</data>
				<key>banner-url</key>
				<string>http://www.itairaziel.com/www.itairaziel.com</string>
				<key>subfolder-path</key>
				<string>/www.itairaziel.com</string>
				<key>subfolder-published-date</key>
				<date>2011-02-03T13:29:00Z</date>
			</dict>
		</array>
	</dict>
	<key>AFBZStandalone</key>
	<false/>
	<key>AFBZThemeId</key>
	<string>com.aquafadas.bannerzest.Slideshow</string>
</dict>
</plist>
